.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

BODY {background: url('asset/world-bg.png') no-repeat center top; background-size: cover; background-attachment: fixed;}

#modalDim {position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 110; background-color: rgba(0, 0, 0, 0.7); background-image: url('asset/world-bg.png');}

header {height: 70px; background-color: rgba(255, 255, 255, 0.95); position: fixed; top: 0; left: 0; right: 0; z-index: 100; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);}
.wrapper {width: 90%; margin: 0 auto; position: relative;}
.content {padding-top: 90px;}

#addCampaign {cursor: pointer; position: absolute; right: 5%; top: 10px; background-color: #d55342; border-radius: 25px; padding: 10px 20px; color: #ffffff; text-transform: uppercase; }

#root {background-color: #ffffff; width: 90%; margin: 0 auto;}
.list {display: flex; flex-wrap: wrap;}

.eth {display: inline-block; width: 20px; height: 20px; margin-bottom: -3px; background: url('asset/ethereum.svg') no-repeat center; background-size: contain;}

.flexRow {display: flex; flex-wrap: wrap;}
.col8 {width: 66%;}
.col6 {width: 50%;}
.col4 {width: 33%;}