.campaignWrapper {width: 33%; max-width: 400px; min-width: 300px;  padding: 15px;}
.campaign {height: 550px; border: 1px solid #f1f1f1; position: relative; background-color: #ffffff;}
.campaign.inactive .campaignPhoto {-webkit-filter: grayscale(1); filter: grayscale(1); opacity: 0.6;}
.campaign.inactive .campaignBody {-webkit-filter: grayscale(.5); filter: grayscale(.5);}
.campaign.inactive:hover .campaignPhoto {-webkit-filter: grayscale(0); filter: grayscale(0); opacity: 1;}
.campaign.inactive:hover .campaignBody {-webkit-filter: grayscale(0); filter: grayscale(0);}
.finished {display: none;}
.campaign.inactive .finished {position: absolute; display: block; top: -6px; left: 0; right: 0; z-index: 6; height: 35px; background: url('asset/sticker.svg') no-repeat top center; background-size: contain; color: #ffffff; padding-top: 5px;}

.campaignPhoto {transition: all .5s linear; height: 300px; background-size: cover; position: relative; background-position: top center;}
.campaignName {font-weight: bold; text-align: center; font-size: 18px; text-transform: uppercase; position: absolute; bottom: 0; left: 0; right: 0; z-index: 8; margin: 0; padding: 5px; opacity: 0.8; color: #ffffff;}
.campaignDescription {text-align: justify; height: 70px; overflow: hidden;}

.campaignBody {transition: all .5s linear; padding: 15px; height: calc(100% - 300px); position: relative;}
.loader {display: none;}
.campaign.loading .loader {display: block; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background: url('asset/loading.gif') no-repeat top center; background-size: 30%; background-color: rgba(255, 255, 255, 0.9); z-index: 100;}
.loader span {position: relative; top: 50%; left: 0; right: 0; z-index: 5; color: #000000;}
.campaignGoalWrapper {position: absolute; left: 5%; right: 5%; bottom: 60px;}
.campaignGoalProgress {height: 6px; border-radius: 3px; background-color: #eeeeee; width: 100%; position: relative;}
.campaignProgress {background-color: #00baa3; height: 100%; border-radius: 3px 0 0 3px;}
.campaignProgressText {transition: all .2s linear; overflow: hidden; position: absolute; width: 20px; height: 20px; border-radius: 10px; background-color: #00baa3; color: #ffffff; text-align: center; z-index: 2; top: -8px; font-size: 13px; box-sizing: border-box; padding-top: 15px; margin-left: -10px; box-shadow: 2px 2px 3px rgb(0 0 0 / 50%); text-align: center;}
.campaign:hover .campaignProgressText {width: 30px; height: 30px; top: -13px; width: 50px; margin-left: -25px;}
.campaignProgressText strong {transition: all .2s linear; opacity: 0; position: relative; top: -15px;}
.campaign:hover .campaignProgressText strong {opacity: 1; top: -8px;}

.campaignRaised {position: absolute; bottom: 20px; left: 3%;}
.campaignGoal {position: absolute; bottom: 20px; right: 3%;}

.donateBtn {position: absolute; left: 20%; right: 20%; top: 120px; z-index: 20; cursor: pointer; padding: 8px 20px; background-color: #efc94c; text-align: center; color: #ffffff; font-weight: bold; border-radius: 20px; text-transform: uppercase; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);}

.donateFinish {position: absolute; left: 3%; width: 55%; top: 120px; z-index: 20; cursor: pointer; padding: 8px 20px; background-color: #d55342; text-align: center; border: solid 1px #d55342; color: #ffffff; font-weight: bold; border-radius: 20px; text-transform: uppercase; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);}
.donateCancel {position: absolute; right: 3%; width: 35%; top: 120px; z-index: 20; cursor: pointer; padding: 8px 20px; background-color: #ffffff; text-align: center; border: solid 1px #d55342; color: #d55342; font-weight: bold; border-radius: 20px; text-transform: uppercase; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);}

textarea:focus, input:focus{outline: none;}

.donateInput {transition: all .5s linear; width: 100%; border-style: none; padding: 5px 10px; margin-bottom: 10px; border: solid 1px #cccccc; border-radius: 15px;}
.donateInput.ethValue {width: 50%;}
.ethValue.error {border-color: #ff0000;}

.removeCampaing {position: absolute; width: 30px; height: 30px; border-radius: 50%; background-color: rgba(255, 255, 255, 0.7); right: -15px; top: -15px; z-index: 8; cursor: pointer; background-image: url('asset/close-icon.svg'); background-position: center; background-size: contain; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); cursor: pointer;}
.inactive .removeCampaing {display: none;}
